* {
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 2px;
}

window#waybar {
    background-color: #000;
    color: #fff;
}

#workspaces button {
    padding: 0 6px;
    color: #fff;
    background: transparent;
}

#workspaces button.focused {
    color: #000;
    background: #fff;
}

#workspaces button:hover {
    background: #222;
}

#clock {
    font-weight: bold;
}

#custom-vpn {
    color: #0f0;
}

#tray > .needs-attention {
    background: #fff;
    color: #000;
}
