[submodule "common/.config/nvim"]
	path = common/.config/nvim
	url = git@github.com:nikbrunner/nbr.nvim.git
[submodule "common/.config/wezterm"]
	path = common/.config/wezterm
	url = git@github.com:nikbrunner/wezterm.git
