[Unit]
Description=Proton Pass SSH Agent
After=network-online.target

[Service]
ExecStart=/usr/bin/pass-cli ssh-agent start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
